[user]
    name = Flavio Milan 
    email = oflaviomilan@gmail.com
    signinkey = F2B39D62FBAFB1D9 

[core]
    editor = nvim

[commit]
    gpgsign = true

[alias]
    staash = stash --all
    unstage = restore --staged . 
    f = "!git ls-files | grep -i"
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    df = diff --word-diff
